html, body, #root, canvas {
  width: 100%;
  height: 100%;
  margin: 0 ;
  overflow: hidden;
}

html {
  background: #000;
}

#show_settings{
  position: fixed;
  width: max-content;
  bottom: 0;
  left:0;
  right: 0;
  margin:0 auto;
  display: block;
  z-index: 1000;
  border: 1px solid #1a1a1a55;
  background: #fafafa;
  border-radius: 5px 5px 0 0;
  padding: 10px 15px;
}

#show_settings_toggle_button{
  position:absolute;
  bottom:100%;
  left:0;
  right:0;
  width: max-content;
  background:#fafafa;
  border: none;
  color:#1a1a1a;
  cursor: pointer;
  font-size: 25px;
  margin:0 auto;
  display: block;
  border-top:1px solid #1a1a1a55;
  border-right:  1px solid #1a1a1a55;
  border-left:  1px solid #1a1a1a55;
  border-radius: 5px 5px 0 0;
}

.input_color{
  width: 50px;
  height: 50px;
  background-color: #1a1a1a;
  border: none;
  outline: none;
  border-radius: 2px;
}